/* Notes ------ */

.notes-wrapper {
  display: flex;
  justify-content: center;
}

.notes {
  background-color: var(--primary);
  margin: 0.1rem;
  padding: 2rem;
  border-radius: 18px;
  flex-grow: 1;
  max-width: 100%;
}

.notes>form {
  display: flex;
  flex-direction: column;
}

.notes>form>input {
  font-size: 1.3em;
}

.notes textarea {
  resize: none;
  width: 100%;
  height: 200px;
  overflow: auto;
  letter-spacing: 0.015rem;
  font-size: 1.1em;
}

.textarea-h400 {
  height: 400px;
  transition: height 0.3s ease;
}

.textarea-h700 {
  height: 700px;
  transition: height 0.3s ease;
}

.notes .common-button {
  background-color: var(--secondary);
}

.notes .common-button svg,
.notes-holder svg {
  pointer-events: none;
  margin: 0;
}

.notes-holder {
  position: relative;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.notes-holder .common-button {
  background: none;
  color: black;
  margin-left: 2rem;
  padding: 0rem;
  float: right;
}

.note {
  background-color: white;
  color: black;
  margin: 0.3rem;
  min-width: 200px;
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 12px;
  word-break: break-all;
}

.note p {
  white-space: pre-wrap;
  margin-left: 0.3rem;
  font-size: 1.1em;
  max-width: 600px;
}

.note h2 {
  margin-bottom: 0.6rem;
  margin-top: 0.4rem;
}

.note-header,
.saved-notes-header {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.saved-notes-header {
  margin-top: 2rem;
}

.note-header svg,
.saved-notes-header svg {
  font-size: 1.8rem;
}

.toggles-wrapper {
  display: flex;
  margin: 0 0.8rem;
}

.toggles-wrapper button {
  margin-right: 0.4rem;
}

.counter,
.date-footer {
  display: flex;
  align-items: center;
}

.note-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1rem;
}

.note-footer svg {
  margin-right: 0.3rem;
  margin-left: 0.1rem;
}

/* ------ Notes */