.weather-title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.weather-title svg,
.weather-cords svg {
  margin-right: 0.5rem;
}

.wather-body {
  margin-top: 0.5rem;
}

.forcast {
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  margin-top: 1rem;
  border-radius: 12px;
}

.temp,
.time {
  margin: .2rem .4rem;
}

.pair {
  margin: 1rem;
  text-align: center;
}