.color-notes {
  width: 100%;
  margin-top: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.color-bar {
  width: 20px;
  height: 8px;
  border-radius: 20px;
  background-color: brown;
  border: 0;
  outline: none;
  cursor: pointer;
  margin: 0 0.1rem;
  justify-self: flex-end;
}

.color-bar-toggle {
  padding: 0rem;
  margin-top: 0.5rem;
  width: 16px;
  height: 16px;
}
