.section {
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    justify-content: space-between;
}

.body p {
    max-width: 460px;
}

.count {
    background: var(--secondary-pale);
    padding: .6rem;
    margin: .6rem .4rem;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
}