.projects {
  display: flex;
  margin: 2rem 1rem;
  position: relative;
  align-items: flex-start;
}

.link-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link-holder .common-button {
  width: 100%;
}

.projects a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}

.redirect {
  margin-right: 1rem;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 300px;
  padding-right: 1rem;
}

.projects-preview {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 0.2rem;
  border-radius: 18px;
  margin: 1rem 0 1rem 1rem;
}

.projects-preview p,
.projects-preview h2,
.projects-preview h3,
.projects-preview small {
  margin-bottom: 1rem;
  color: white;
}

.projects-contact {
  display: flex;
  flex-direction: column;
}

.projects-preview small {
  margin-top: 0.3rem;
  margin-bottom: 0;
}
