.weather-container-wrapper {
  width: 400px;
  height: 680px;
  /* max-width: 700px; */
}

@media only screen and (min-width: 927px) {
  .weather-container-wrapper {
    height: 570px;
  }
}

@media only screen and (max-width: 800px) {
  .weather-container-wrapper {
    height: 460px;
  }
}

@media only screen and (max-width: 540px) {
  .weather-container-wrapper {
    height: 570px;
  }
}
@media only screen and (max-width: 410px) {
  .weather-container-wrapper {
    height: 680px;
  }
}

.weather-title {
  margin-bottom: 1rem;
}

.weather-title svg,
.weather-cords svg {
  margin-right: 0.5rem;
}

.wather-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.wather-body h2 {
  text-align: end;
}

.forcast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--secondary);
  margin-top: 1rem;
  padding: 0.4rem;
  border-radius: 12px;
}

.temp,
.time {
  margin: 0.2rem 0.4rem;
}

.pair {
  font-size: 1.15em;
  margin: 0.6rem;
  text-align: center;
}
