/* ------ Todo */

.todo {
  background-color: var(--primary);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
}

.todo .common-icons-wrapper {
  padding: 0.4rem 0.6rem;
}

.todo .common-icons-wrapper svg {
  font-size: 1.4rem;
  margin: 0.2rem;
}

.todo-title {
  margin-left: 0.5rem;
  word-wrap: break-word;
}

.todo ul {
  margin-top: 0.4rem;
  padding-bottom: 0.6rem;
  list-style: none;
}

.todo ul > h4 {
  margin-left: 0.8rem;
}

.todo li {
  display: flex;
  align-items: center;
  padding: 0.3rem 1.3rem;
  opacity: 0.8;
  transition: opacity 0.4s ease;
}

.todo-buttons {
  display: flex;
}

.todo-buttons > * {
  margin: 0 0.1rem;
}

.todo button {
  background: none;
  border: none;
  color: white;
  padding: 0.3rem;
  padding: 0;
}

.minus-icon {
  font-size: 20px;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.minus-icon:hover {
  opacity: 1;
}

.todo li:hover {
  opacity: 1;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
}

.search-wrapper svg {
  margin: 0;
  width: 70%;
  height: 70%;
}

.search-wrapper input {
  background-color: var(--primary);
  padding: 0.6rem 1rem;
}

.search-wrapper button {
  padding: 0;
  background: none;
}

.search-wrapper button,
.search-wrapper input {
  transition: background 0.15s ease-in-out;
}

.search-wrapper button {
  width: 35px;
  color: white;
}

.search-wrapper input {
  width: 70%;
  color: white;
}

.search-wrapper input:active {
  color: black;
}

.search-wrapper input:focus {
  background-color: white;
  color: black;
}

.search-wrapper input::placeholder {
  color: white;
}

/* Todo ------ */
