.poll-wrapper {
  background-color: var(--primary);
  padding: 1.3rem 2rem;
  border-radius: 18px;
}

.poll-wrapper h3,
.poll-wrapper p {
  margin-bottom: 1rem;
  max-width: 520px;
}

.vote-wrapper {
  display: flex;
}

.vote-wrapper h2 {
  padding: 0.6rem 1rem;
}

.progressbar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 120px;
}

.yes-no-buttons h2 {
  margin: 0.5rem;
}

.yes-progressbar,
.no-progressbar {
  background-color: var(--secondary);
  font-size: 1.2rem;
  padding: 0.2rem;
  margin-left: 1rem;
  flex-grow: 1;
  justify-self: baseline;
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin: 0.3rem;
}

.yes-progressbar h3,
.no-progressbar h3 {
  margin: 0;
  margin-left: 1rem;
}
