.poll-wrapper {
  background-color: var(--primary);
  padding: 1.3rem 2rem;
  border-radius: 18px;
}

.poll-wrapper h3,
.poll-wrapper p {
  margin-bottom: 1rem;
}

.poll-wrapper > h3 {
  text-align: right;
  margin: 0;
}

.vote-wrapper {
  display: flex;
  flex-direction: column;
}

.vote-wrapper h2 {
  padding: 0.6rem 1rem;
}

.yes-bar,
.no-bar {
  display: flex;
  flex-grow: 1;
}

.yes-bar h2,
.no-bar h2 {
  width: 80px;
  align-self: center;
}

.yes-bar h3,
.no-bar h3 {
  position: relative;
  background-color: var(--secondary-pale);
  margin: 0.2rem;
  padding: 0.8rem 1rem;
  align-self: center;
  min-width: 160px;
  border-radius: 12px;
  text-align: center;
}
