/* ------ Navbar */

.header-wrapper {
  background-color: var(--primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  color: white;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .header-wrapper {
    margin: 0rem;
    text-align: center;
  }

  /* .header-wrapper > div:first-child {
    margin-bottom: 1rem;
  } */
}

@media only screen and (max-width: 330px) {
  .header-wrapper > div {
    width: 100%;
  }
  .logo-wrapper {
    justify-content: center;
    margin-bottom: 0.6rem;
  }
}

.header-wrapper button {
  font-size: 1rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.header-wrapper h3 {
  margin-left: 0.3rem;
}

.icons-wrapper > * {
  margin-left: 1rem;
}

.header-wrapper,
.logo-wrapper,
.icons-wrapper {
  display: flex;
  align-items: center;
}

.header-settigns {
  display: flex;
  cursor: pointer;
}

.header-settigns p {
  margin-right: 0.4rem;
}

/* Navbar ------ */
