/* ------ Navbar */

.header-wrapper {
  display: flex;
  background-color: var(--primary);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  color: white;
  position: relative;
  z-index: 10000000;
}

@media only screen and (max-width: 600px) {
  .header-wrapper {
    margin: 0.2rem;
  }
}

@media only screen and (max-width: 430px) {
  .header-wrapper > div {
    width: 100%;
    justify-content: center;
  }
  .header-wrapper .common-icons-wrapper {
    margin-bottom: 0.3rem;
  }
}

.header-wrapper button {
  font-size: 1rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.header-wrapper h3 {
  margin-left: 0.3rem;
}

/* Navbar ------ */
