/* ------ Navbar */

.header-wrapper {
  background-color: var(--primary);
  justify-content: space-between;
  padding: .8rem 1rem;
  color: white;
  position: relative;
}

.header-wrapper button {
  font-size: 1rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.header-wrapper h3 {
  margin-left: 0.3rem;
}

.icons-wrapper>* {
  margin-left: 1rem;

}

.header-wrapper,
.logo-wrapper,
.icons-wrapper {
  display: flex;
  align-items: center;
}

.header-settigns {
  display: flex;
  cursor: pointer;
}

.header-settigns p {
  margin-right: 0.4rem;
}

/* Navbar ------ */