.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  margin: 1rem;
  padding-left: 1rem;
}

.link-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-width: 240px;
  max-width: 380px;
}

.projects a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}

.button-holder {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.navigate-button {
  font-size: 2rem;
  display: flex;
  width: 70px;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--primary);
  border: none;
  outline: none;
  margin: 0.3rem;
  color: white;
  transition: background 0.2s ease;
}

.navigate-button svg {
  transform: rotate(90deg);
}
.navigate-button:hover {
  background-color: var(--secondary-pale);
}
