.projects {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
}

.link-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-width: 240px;
  max-width: 400px;
}

.projects a {
  text-decoration: none;
}

.button-holder {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button-holder > .common-button {
  font-size: 2rem;
  width: 80px;
  background-color: var(--primary);
  margin: 0.3rem;
  transition: background 0.2s ease;
}

.button-holder > .common-button svg {
  transform: rotate(90deg);
  margin: 0;
}
.button-holder > .common-button:hover {
  background-color: var(--secondary-pale);
}
