/* Notes ------ */

.notes-wrapper {
  display: flex;
  justify-content: center;
}

.notes {
  background-color: var(--primary);
  margin: 0.1rem;
  padding: 2rem;
  border-radius: 18px;
  flex-grow: 1;
  max-width: 100%;
}

.notes-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.6rem;
}

.notes-header svg {
  font-size: 1.8rem;
}
@media only screen and (max-width: 600px) {
  .notes {
    padding: 0.3rem;
  }
  .notes-header {
    padding: 1rem;
  }
}
/* ------ Notes */
