/* ------ Sidebar */

.sidebar-wrapper {
  background: none;
  padding: 0rem;
  overflow-x: hidden;
  margin-bottom: 4rem;
  min-width: 360px;
  border-radius: 12px;
}
@media only screen and (max-width: 800px) {
  .sidebar-wrapper {
    min-width: auto;
  }
}

.sidebar-wrapper h2 {
  margin-bottom: 1rem;
}

.sidebar-wrapper > .common-button {
  background: var(--primary);
  font-size: 1.8em;
}

.sidebar-wrapper > .common-button svg {
  margin: 0;
}

/* Sidebar ------ */
