/* ------ Sidebar */

.sidebar-wrapper {
  background: var(--secondary);
  margin: 1rem;
  padding: 0rem;
  position: sticky;
  top: 20px;
  left: 0;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  margin-bottom: 4rem;
  min-width: 360px;
  border-radius: 12px;
}
@media only screen and (max-width: 800px) {
  .sidebar-wrapper {
    position: sticky;
    max-height: 80vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-width: auto;
  }
  .sidebar-wrapper::-webkit-scrollbar {
    display: none;
  }
}

.sidebar-wrapper h2 {
  margin-bottom: 1rem;
}

.sidebar-wrapper > .common-button {
  background: none;
  font-size: 2em;
  width: 20%;
}

/* Sidebar ------ */
