/* ------ Sidebar */

.sidebar-wrapper {
  position: sticky;
  top: 20px;
  left: 0;
<<<<<<< Updated upstream
  width: 300px;
  min-height: 480px;
  max-height: 97vh;
=======
>>>>>>> Stashed changes
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
  margin: 0;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.sidebar-top > div {
  padding: 0.4rem;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
}

.search-wrapper svg {
  margin: 0;
  width: 70%;
  height: 70%;
}

.search-wrapper input {
  background-color: var(--primary);
}

.search-wrapper button {
  padding: 0;
  background: none;
}

.search-wrapper button,
.search-wrapper input {
  transition: background 0.15s ease-in-out;
}

.search-wrapper button {
  width: 35px;
  color: white;
}

.search-wrapper input {
  width: 70%;
  color: white;
}

.search-wrapper input:active {
  color: black;
}

.search-wrapper input:focus {
  background-color: white;
  color: black;
}

.search-wrapper input::placeholder {
  color: white;
}

.sidebar-bottom {
  margin-bottom: 1rem;
}

/* Sidebar ------ */
