/* ------ Navbar */

.background-rounded {
  background-color: gray;
  color: white;
  border-radius: 12px;
  margin: 1rem;
}

.header-wrapper {
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.icons-wrapper > p {
  margin-left: 1rem;
}

.header-wrapper,
.logo-wrapper,
.icons-wrapper {
  display: flex;
  align-items: baseline;
}

/* Navbar ------ */

/* ------ Sidebar */

.sidebar-wrapper {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.4rem;
}

.sidebar-top > div {
  padding: 0.4rem;
}

/* Sidebar ------ */

/* ------ Footer */

.footer-wrapper {
  text-align: center;
  padding: 1rem;
}

/* Footer ------ */
