@import "./colorpalette.css";

body {
  background-color: #e7e8ff;
}

/* ------ Common Classes */

.background-rounded {
  background-color: var(--secondary);
  color: white;
  border-radius: 12px;
  margin: 1rem;
}

.common-button {
  background-color: var(--secondary-pale);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0.8rem;
  margin: 0.2rem 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.common-button:hover {
  background-color: var(--secondary);
}

.common-button svg {
  margin-right: 0.3rem;
}

.content-wrapper {
  display: flex;
}

.showpage {
  flex-grow: 1;
  margin: 0 1rem;
  padding: 1rem;
}

/* Common Classes ------ */