/* Showpage ------ */

.showpage {
  position: relative;
  width: 100%;
  margin: 0;
}

.showpage > * {
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  .showpage > * {
    margin: 0rem;
    margin-bottom: 1rem;
  }
}

/* ------ Showpage */
